<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/nav.ejs') %> 
    <div class=" container mt-5">
        <h1 class="title text-danger fw-bold text-center">All Movies</h1>
        <div>
            <a class="delete" href="/movie/create">Post a Movie Blog</a>
        </div>
        <div>
        <% if(movies.length > 0) { %>
            <%movies.forEach(movie => { %>
                <a href="/movie/<%= movie._id %> " style="text-decoration: none;">
                    <div class="card my-5 p-3 list">
                        <h3 class="text-danger">Title: <%= movie.title %> </h3>
                        <h6 class="text-primary">Author: <%= movie.author %> </h6>
                    </div>
                </a>
            <% })  %> 
        <%}else{ %>
            <h3 class="py-5 text-center">There is no movies right now</h3>
        <% } %> 
        </div>
    </div>
    
    <%- include('../partials/footer.ejs') %> 
</body>
</html>